<%- include('header'); -%>
<body>
	<Div class="box">
		<h1 class="about">About Me</h1>
	</Div>
	<p class="about">
		I'm Dheeraj A fifth year undergrad student pursuing his Mtech in
		biotechnology but intrested in software and web development
	</p>
</body>
<%- include('footer'); -%>
